%div.section
  %p
    %img(alt='Under Construction' src='/images/construction.gif')
  %p
    %img(alt='Who are we, and what is a hackerspace?' src='/images/intro.png')
  %p If you're interested in making things, learning about every possible subject and applying them in different ways, playing with cutting edge technology, bending your brain to think in different ways... you're in the right place.
  %p This hackerspace is multi-disciplinary. You don't need to be proficient in a programming language or know how to solder. You don't need to be interested in computers. The only requirement is an open mind and interest in learning and sharing.
  %p Hackerspaces allow groups of people to pool resources and create a community of people with common interests. Rochester Hackerspace is not necessarily the name of the group - just a description for now.
  %p Interests are hacking, making, security, printing, fabricating, programming, geeks, networking, circuitry, soldering, etc.

%div.section
  %p Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
